<p-panel header="Pipes básicos" class="p-1">
  <h1>Pipes básicos</h1>
  <p>Pipes incluídos en Angular (Common Module)</p>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-4">
    <p-card header="Uppercase">{{ lowercase | uppercase }}</p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Lowercase">{{ uppercase | lowercase }}</p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Titlecase">{{ titlecase | titlecase }}</p-card>
  </div>

  <div class="col-12 md:col-6">
    <p-card header="Types of Dates">
      <ol>
        <li>Fecha</li>
        <li>Fecha | date</li>
        <li>Fecha | date:'short'</li>
        <li>Fecha | date: 'long'</li>
        <li>Fecha | date: 'MMMM dd, yyyy'</li>
      </ol>
      <hr />

      <ol>
        <li>Fecha | date: 'long':'GMT-6'</li>
        <li>Fecha | date: 'long':'GMT-5'</li>
      </ol>
    </p-card>
  </div>

  <div class="col-12 md:col-6">
    <p-card header="Titlecase">
      <ol>
        <li>{{ customDate }}</li>
        <li>{{ customDate | date : "short" }}</li>
        <li>{{ customDate | date : "long" }}</li>
        <li>{{ customDate | date : "MMMM dd, yyyy" }}</li>
      </ol>
      <hr />

      <ol>
        <li>{{ customDate | date : "long" : "GMT-6" }}</li>
        <li>{{ customDate | date : "long" : "GMT-5" }}</li>
      </ol>
    </p-card>
  </div>
</div>
